<div class="bg-gray-300">
  <h2 mat-dialog-title>
    {{ data?.id ? 'Editar Tarea' : 'Nueva Tarea' }}
    <button mat-icon-button aria-label="Cerrar diálogo" (click)="close()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </h2>

  <mat-dialog-content>
    <form [formGroup]="taskForm">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" maxlength="50">
        <mat-error *ngIf="taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched">
          El título es requerido
        </mat-error>
        <mat-error *ngIf="taskForm.get('title')?.hasError('minlength') && taskForm.get('title')?.touched">
          El título debe tener al menos 5 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
        <mat-error *ngIf="taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched">
          La descripción es requerida
        </mat-error>
        <mat-error *ngIf="taskForm.get('description')?.hasError('minlength') && taskForm.get('description')?.touched">
          La descripción debe tener al menos 5 caracteres
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="taskForm.invalid" (click)="save()">Guardar</button>
  </mat-dialog-actions>
</div>
