@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
